.git
.DS_Store
.gitignore
.gitattributes

# General
*.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Exceptions
.github/
**/*.db
**/*.md
**/*.yml
**/*.yaml
