.git
.gitignore
.gitattributes
.dockerignore
Dockerfile*

# General
*.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Others
.github/
*.db
*.md
*.yml
*.yaml
